body {
    background-color: black;
}

.chart {
  width: 600px;
  height: 250px;
  border: 1px solid #ccc;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  box-sizing: content-box;
}

.charts-container {
  text-align: center;
}

.chart-small {
  width: 300px;
  height: 125px;
  background: white;
  border: 1px solid #ccc;
  margin: 10px;
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  overflow: hidden;
}

.chart-small .caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.chart-small:hover .caption {
  background: rgba(0, 0, 0, 1);
}

.chart-small .caption h4 {
  color: white;
  margin-left: 10px;
}

.chart-small>svg {
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.massive-text {
  font-size: 86px;
  color: #aaa;
  text-align: center;
}

#jumbo1 {
  padding: 10px 20px;
}
#jumbo2 {
  padding: 20px;
}

/***************************************************/
@media (min-width: 768px) {
    .navbar>.container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .navbar>.container {
        width: 940px;
    }
}

@media (min-width: 1200px) {
    .navbar>.container {
        width: 1140px;
    }
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: inherit;
}

.navbar .navbar-wrapper {
    background-color: rgb(38,51,55);
    padding-right: 0;
    padding-left: 0;
}
.navbar>.container .navbar-brand {
    margin-left: 0;
    padding: 0 0 0 0;
}

ul.navbar-nav li a {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

@media (min-width: 768px) {
    ul.navbar-nav li~li:before {
        content: "|";
        line-height:  20px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        left: -2px;
        color: white;
    }
}

ul.navbar-nav li:last-child {
    padding-right: 15px;   
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #cdf;
}@media (min-width: 768px) {
    .navbar>.container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .navbar>.container {
        width: 940px;
    }
}

@media (min-width: 1200px) {
    .navbar>.container {
        width: 1140px;
    }
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: inherit;
}

.navbar .navbar-wrapper {
    background-color: rgb(38,51,55);
    padding-right: 0;
    padding-left: 0;
}
.navbar>.container .navbar-brand {
    margin-left: 0;
    padding: 0 0 0 0;
}

ul.navbar-nav li a {
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

@media (min-width: 768px) {
    ul.navbar-nav li~li:before {
        content: "|";
        line-height:  20px;
        padding-top: 15px;
        padding-bottom: 15px;
        position: absolute;
        left: -2px;
        color: white;
    }
}

ul.navbar-nav li:last-child {
    padding-right: 15px;   
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #cdf;
}
/*********************************************/